.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    position: absolute;
    width: 100%;
    padding: 20px 40px;
    box-sizing: border-box;
    column-gap: 10%;
}

.logo-navbar {
    width: 60px;
}

.nav-links__container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    font-family: 'Gotham', sans-serif;
}

.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    letter-spacing: 2px;
}

/*Desktop ultra wide*/
@media (min-width: 1440px) {
    .navbar {
        column-gap: 30%;
    }
}                                          
/*Desktop - Special Queries cases to change Desktop -> Tablet*/
@media (min-width: 1001px) and (max-width: 1150px) {
}
/*Desktop 13"*/
@media (min-width: 1001px) and (max-width: 1439px) {
}
/*Tablet / iPads*/
@media (min-width: 763px) and (max-width: 1000px) {
    .navbar {
        column-gap: 10%;
    }

    .search-bar-container {
        display: none;
    }
}
/*Tablet - Mobile*/
@media (min-width: 1px) and (max-width: 762px) {
    .search-bar-container {
        display: none;
    }

    .nav-links__container {
        display: none;
    }
}
/*Mobile - Special Queries cases to change Tablet -> Mobile*/
@media (min-width: 1px) and (max-width: 450px) {

}